<br/>
<%= link_to 'नाया खाता/New invoice', new_invoice_path %>
<% @invoices.each do |invoice| %>
  <h2><%= link_to invoice.item, invoice %></h2>
  <h4><%= invoice.details %></h4>
  <%= invoice.price %>
  <p>
   <%= link_to 'Edit', edit_invoice_path(invoice) %>
   <%= link_to 'Delete', invoice_path(invoice), method: :delete, data: {confirm: "You sure you wanna delete this ?"} %> </p>

<%end%>
  
