<!DOCTYPE html>
<html>
  <head>
    <title>Invoice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div id="user_header">
	<% if current_user %>
	Logged In as <%= current_user.email %>.
	<%=link_to "SignOut", logout_path %>
	<% else %>
	<%= link_to "SingUp",signup_path %> or
	<%= link_to "SingIn",login_path %> or
	<%end%>
      </div>
    </div>

    <% flash.each do |name,msg|%>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
    <%end%>
    <div id="main-content">
        <%= yield %>
    </div>
  </body>
</html>
